// left-align uploaded media/videos
.mediaplugin {
    text-align: left;

    > div {
        margin: inherit;
    }
}

// more emphasis on higlighted section
.current h3.sectionname {
    font-weight: bold;
}

.course-content .current::before {
    border-left: #1177d1 8px solid;
}

// hide course progress indicator on dashboard block
// see: https://moodle.org/mod/forum/discuss.php?d=395710
// though the code given there was for 3.7 & didn't quite work
#page-my-index .block-myoverview .small,
#page-my-index .block-myoverview .progress {
    display: none;
}

// hide bottom prev/next arrows & "jump to" drop-down for activities
.activity-navigation {
    display: none;
}

// hide Site Home menu link — Dashboard fulfills the same role
a[data-key="home"] {
    display: none;
}

// resources grid on dashboard
#resources-grid {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .resources-grid__resource {
        margin-bottom: 1em;
        min-width: 90px;
        width: 33%;
    }
}

.navbar {
    .site-name {
        visibility: hidden;
    }
}
